/* CALENDAR */
.calendar-main-wrap {
  /* @apply p-3 mt-3; */
}
.rbc-month-row {
  @apply lg:min-h-[100px] h-auto;
}
.calendar-main-title {
  @apply block mb-2;
}
.rbc-calendar {
  @apply bg-LightGray/50 p-4 rounded-[10px];
}
.rbc-month-header {
  @apply !gap-1;
}
.rbc-toolbar button {
  @apply !px-2 !py-1 rounded hover:!bg-PrimaryWood hover:!text-white transition-all duration-300;
}
.rbc-toolbar button.rbc-active {
  @apply !shadow-none !bg-PrimaryWood !text-white;
}
.rbc-month-row {
  @apply !basis-auto;
}
.rbc-date-cell {
  @apply aspect-square lg:aspect-auto lg:h-[100px];
}
.rbc-toolbar {
  @apply flex flex-wrap justify-center text-base items-center !mb-[18px];
}
.rbc-toolbar .rbc-toolbar-label {
  @apply text-base text-black leading-[3rem] font-medium !grow-0 !w-[150px] !text-center;
}
.rbc-month-row + .rbc-month-row,
.rbc-day-bg + .rbc-day-bg,
.rbc-month-view,
.rbc-header {
  @apply border-none !border-0;
}
.rbc-header {
  @apply bg-LightWood !py-2.5 rounded !font-normal;
}
.rbc-off-range-bg {
  @apply !bg-transparent;
}
.rbc-date-cell.rbc-off-range {
  @apply text-black/50;
}
.rbc-toolbar .rbc-today-button {
  @apply me-auto;
}
.rbc-toolbar .button.today {
  @apply rounded-3xl;
}
.rbc-toolbar button {
  @apply !py-2 !px-3;
}
.rbc-toolbar button.prev,
.rbc-toolbar button.next {
  @apply rounded-full w-10 h-10 flex items-center justify-center;
}
.rbc-btn-group {
  @apply mr-auto;
}
.rbc-btn-group .rbc-btn {
  @apply first:!rounded-l-full last:!rounded-r-full;
}
.rbc-row-bg {
  @apply gap-1;
}
.rbc-date-cell {
  @apply flex items-center justify-center !p-0;
}
.rbc-day-bg {
  @apply bg-white rounded;
}
.rbc-time-view .rbc-day-bg {
  @apply bg-transparent;
}
.rbc-month-row .highlighted-day {
  @apply !bg-LightWood;
}
.rbc-month-row .highlighted-day::before,
.rbc-month-row .highlighted-day::after {
  @apply !bg-LightWood;
}
.rbc-row {
  @apply gap-0;
}
.rbc-month-view {
  @apply gap-1 !flex-none;
}
.rbc-time-header-cell {
  @apply gap-1;
}
.rbc-today,
.rbc-date-cell.rbc-now {
  @apply !bg-transparent;
}
.rbc-button-link {
  @apply pointer-events-none;
}
.rbc-row:has(.rbc-row-segment) {
  @apply absolute w-full z-[1] top-0 gap-0;
  /* grid grid-cols-7 */
}
.rbc-row:has(.rbc-row-segment) .rbc-row-segment {
  @apply p-0 relative text-xs bg-transparent !max-w-none;
}
.rbc-row-bg .event-day {
  @apply relative;
}
.rbc-row-bg .event-day::before,
.rbc-row-bg .event-day::after {
  @apply absolute content-[''] w-full h-full bg-PrimaryWood top-0 right-0 rounded;
}
.rbc-time-view .rbc-row-bg .event-day::before,
.rbc-time-view .rbc-row-bg .event-day::after {
  @apply w-full h-5 top-1/2 -translate-y-1/2;
}
.rbc-time-view .rbc-row {
  @apply h-full;
}
.rbc-row-bg .event-day::after {
  /* @apply animate-ripple; */
}
.rbc-time-view .rbc-events-container {
  @apply !mr-0;
}
.rbc-time-view .rbc-allday-cell {
  @apply hidden;
}
.rbc-time-view .rbc-event {
  @apply !bg-PrimaryWood !border-PrimaryWood !text-white;
}
.rbc-time-view .rbc-event.rbc-selected {
  @apply !bg-LightWood !border !border-PrimaryWood !text-black !outline-none;
}
.rbc-time-view .rbc-event .rbc-event-label {
  @apply whitespace-normal pe-0;
}

.rbc-time-view .rbc-header {
  @apply flex items-center justify-center;
}
.rbc-time-view .rbc-header.event-day {
  @apply !bg-PrimaryWood text-white;
}
.rbc-row:has(.rbc-row-segment) .rbc-row-segment .rbc-event {
  @apply bg-transparent;
}
.select-time-slot-wrap-title {
  @apply text-base text-black mb-2 block mt-3;
}
.select-time-slot-wrap {
  @apply flex gap-4 items-center;
}
.react-datepicker__input-container .inputField {
  @apply rounded-[10px];
}
.data-picker-wrap {
  @apply border border-solid pe-3 border-LightGray bg-white rounded-[5px] flex items-center [&:has(.inputField:focus)]:ring-2 [&:has(.inputField:focus)]:ring-blue-500/20 [&:has(.inputField:focus)]:ring-offset-2 transition-all duration-300;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  @apply !h-[calc(125px_+_1.7rem_/_2)];
}

.react-datepicker__time-list::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50;
}
.react-datepicker__time-list::-webkit-scrollbar-track {
  @apply rounded-full bg-LightGray;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  @apply !py-2 font-normal text-black/70;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  @apply !bg-PrimaryWood !text-white !font-medium;
}
.react-datepicker__header {
  @apply !bg-white !border-LightGray;
}
.react-datepicker {
  @apply !border-0 shadow-lg;
}
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  @apply !stroke-white !fill-white !text-white;
}
.has-event.rbc-date-cell {
  @apply relative;
}

.error-message {
  @apply text-sm font-medium block text-red-600 mt-1;
}

.rbc-show-more {
  @apply !hidden;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled {
  @apply !text-black/50;
}

.spinnerLoad {
  @apply flex items-center justify-center gap-2;
}
